/*首页轮播*/
.blog-banner{margin-bottom:30px}
.blog-banner img {width: 100%;height:320px;}

/*顶置*/
.blog-zhiding{width: 840px;}
.blog-zhiding h3{font-size:20px;font-weight:400;line-height:22px;margin-bottom:30px}
.blog-zhiding h2{padding:6px 16px;line-height: 22px; position:absolute; bottom:0px;background: rgba(0,0,0,.5);}
.blog-zhiding img{width:100%;-webkit-transition:all .6s;height:175px}
.blog-zhiding li{overflow:hidden;margin-bottom:10px;position:relative;height:175px;width:260px;float:left;margin:0 20px 30px 0;border-bottom:1px solid #f0f0f0}
.blog-zhiding li:hover img{transform:scale(1.1,1.1)}
.blog-zhiding a{color:#fff;font-size:16px}

/*最新用户*/
.blog-heads{padding:0px 0 30px 0;width: 860px;}
.blog-heads li{float:left;margin:25px 37px 30px 0;text-align:center;position:relative;width:70px}
.blog-heads li img{-webkit-transition: all .6s;border-radius:50%;box-shadow:1px 1px 3px rgba(0,0,0,.3);width:70px;height:70px}
.blog-heads li img:hover{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
.blog-heads li p a{position:absolute;left:0;width:100%;padding-top:5px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-style:normal}
.blog-heads h3{font-size:20px;font-weight:400;line-height:22px}
.blog-headh3 h3{font-size:20px;font-weight:400;line-height:22px;margin:0 0 30px 0}
.blog-headh4 h3{font-size:20px;font-weight:400;line-height:22px;margin:30px 0}

/*最新文章*/
.blog-article{width: 100%;}
.blog-article h3 {font-size: 20px;font-weight: 400;line-height: 22px;margin: 0 0 30px 0;}
.blog-list{padding:0;}
.blog-list-avatar {overflow: hidden;width: 240px;height: 160px;position:absolute;left:0;top:0}
.blog-list-avatar img{-webkit-transition: all .6s;width:240px;height:160px;border-radius:2px}
.blog-list-avatar:hover img{transform:scale(1.1,1.1)}
.blog-list-li{position:relative;height:160px;padding:0 0 25px 260px;margin-bottom:25px;border-bottom:1px solid #f0f0f0}
.blog-list-li h2{line-height:26px;padding-top:5px;width: 100%;}
.blog-list-li h2 a{font-size:18px;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;}
.blog-list-li h2 span{position:relative;top:3px;margin-left:5px}
.blog-list-li p{position:relative;line-height:26px;padding-top:15px;font-size:14px;color:#999}
.blog-list-li p span{padding-right:15px}
.blog-list-li p span a{color:#999}
.blog-list-li p .fr a{color:#3CA5F6;font-size:12px}
.blog-list-li p span img{width:25px;height:25px;margin-right:8px;position: relative;top: -2px;border-radius:50px}
.blog-list-hint{position:absolute;right:0}
.blog-list-hint i{padding-left:15px;color:#ccc}

@media only screen and (max-width: 767px) {
	.blog-list-li {padding: 0 0 15px 110px;height: 80px;margin-bottom: 15px;}
	.blog-list-avatar {width: 100px;height: 80px;}
	.blog-list-avatar img {width: 100px;height: 80px;}
	.blog-list-li h2 a {font-size: 16px;-webkit-line-clamp: 2;}
	.blog-list-li p {line-height: 25px;padding-top: 5px;}
	.blog-list-li h2 {line-height: 25px;padding-top: 0px;}
	.blog-list h3 {margin: 0 0 20px 0;}
	.layui-fixbar{display: none;}
}