<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
<link rel="stylesheet" href="__HOME__/css/style.css">
<script src="__ADMIN__/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="__ADMIN__/layui/layui.js" type="text/javascript"></script>
</head>
<body>
<div class="blog-header">
	<div class="container cl">
		<div class="blog-logo">
			<a href="__INDEX__"><img src="__HOME__/img/logo3.png" alt=""></a>
		</div>
		<label class="blog-nav-btn" for="nav-btn"></label>
		<ul class="blog-nav layui-nav" lay-filter="">
  			<li class="layui-nav-item">
  				<a href="#">博客首页</a>
  			</li>
  			<li class="layui-nav-item">
			    <a href="javascript:;">文章专栏</a>
			    <dl class="layui-nav-child">
				    <dd><a href="">前端</a></dd>
				    <dd><a href="">PHP</a></dd>
				    <dd><a href="">ThinkPHP</a></dd>
			    </dl>
			</li>
			<li class="layui-nav-item">
			    <a href="javascript:;">资源分享</a>
			    <dl class="layui-nav-child">
				    <dd><a href="">学习笔记</a></dd>
				    <dd><a href="">开源项目</a></dd>
				    <dd><a href="">ThinkPHP</a></dd>
			    </dl>
			</li>
  			<li class="layui-nav-item">
  				<a href="#">点点滴滴</a>
  			</li>
			<li class="layui-nav-item">
  				<a href="#">关于本站</a>
  			</li>
		</ul>

		<div class="blog-status blog-none-768 blog-none-1024">
			<a class="login" href="javascript:void(0)"><i class="iconfont">&#xe606;</i>立即登录</a>
		</div>
	</div>
</div>

<div class="blog-none-1200 blog-none-1920">
	<div class="PathInner" id="PathMenu">
		<div class="PathMain">
			<div onclick="PathRun();">
				<em>登录</em>
			</div>
		</div>
		<div class="PathItem">
			<a class="cola link login" href="javascript:void(0)">
				<i class="iconfont" style="font-size: 22px;"></i>
			</a>
		</div>
		<div class="PathItem"></div>
		<div class="PathItem"></div>
		<div class="PathItem"></div>
	</div>
</div>