<div class="blog-footer footer mt-30 cl">
	<div class="blog-wp cl">
		<div class="blog-mds">

			<p class="bq">	
				<img src="__HOME__/img/logo2.png" alt="" style="display: inline-block; width: 22px;height: 22px;">	 		
				Copyright© <?php echo date('Y') ?>
				<span class="pipe">|</span>
				<a class="banquan" target="_blank" href="http://demo.tpt360.com">Powered by Giant</a>
				<span class="blog-none-768 blog-none-1024">
					<span class="pipe">|</span>
					<a href="http://www.miitbeian.gov.cn/" target="_blank"> 粤ICP备0000xxx号</a>
					<span class="pipe">|</span>	
					<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1524790154&amp;site=qq&amp;menu=yes" target="_blank">QQ:941192051</a>
				</span>							
			</p>
		</div>
	</div>
</div>